.receita__botao{
    background: var(--cor-vinhoBordo);
    color: var(--cor-brancoLeve);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: all 1s ease-in-out;
}

.receita__botao:hover{
    background: var(--cor-vinhoEscuro);
    cursor: pointer;
}