.sobre__titulo{
    color: var(--cor-vinhoBordo);
    font-family: var(--fonte-cursiva);
}

@media screen and (min-width: 0){
    .sobre__titulo{
        font-size: 2rem;
    }
}


@media screen and (min-width: 0){
    .sobre__titulo{
        font-size: 3.1875rem;
    }
}