.sobre__descricao{
    color: var(--cor-cinza);
    font-size: 1.55rem;
    font-weight: 100;
}

@media screen and (min-width: 0){
    .sobre__titulo{
        font-size: 2rem;
    }
}


@media screen and (min-width: 0){
    .sobre__titulo{
        font-size: 3.1875rem;
    }
}